
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MISC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\img\GameStore.jfif" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Aventuras</ion-card-title>
    </ion-card-header>
  
    
  </ion-card>

  <ion-card>
    <img src="assets\img\MegaX.jfif" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Accion</ion-card-title>
    </ion-card-header>
  
    
  </ion-card>
</ion-content>


<ion-footer>
  <div id="container">
  <strong class="Footer"></strong>
  <p>Ubicacion: anywhere // correo: gamestore@correo.com // fono:+569 99999999 </p>
  </div>
</ion-footer>
